/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 3:10:52 PM
    Author     : Manan Singh
*/

html, body{
    width: 100%;
    margin: 0px;
}

#nav-bar{
    float: left;
    padding: 10px;
    width: 210px;
}

#banner{
    display: inline-block;
    text-align: center;
    float: left;
    height: 166px;
	width: 70%;
}

#banner-img{
    display: inline-block;
    width: 30%;
    height: 166px;
}

#content{
    padding: 10px;
    width: 75%;
    width: 100%;
    margin-top: 20px;
	float: left;
}

#page-links{
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav-bar-link{
    float: left;
}

.nav-link-box{
    padding: 5px;
    display: block;
    width: 200px;
}

#bannerDisplay{
    min-width: 100%;
    max-height: 100%;
}

#top-container{
	float: left;
	overflow: hidden;
	width: 50%;
}