/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 12:00:04 PM
    Author     : Manan Singh
*/

@import url(https://fonts.googleapis.com/css?family=Roboto);


body{
    font-family: 'Roboto', sans-serif;
}

#banner{
    font-size: 60px;
}



