/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 3:10:52 PM
    Author     : Manan Singh
*/

html, body{
    
    background-color: darkgrey;
}

#nav-bar{
    
    background-color: maroon;
    
}

#banner{
    
    background-color: beige;
    
}

#banner-img{
    
    background-color: green;
    
}

#content{
    
    background-color: maroon;
    color: white;
}

#page-links{
    
}

.nav-bar-link{
    
}

.nav-link-box{
    
    background-color: #dddddd;
}

#bannerDisplay{
    
}

#top-container{
	background-color: #F5F5DC;
}