/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 9:31:48 PM
    Author     : Manan Singh
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Francois+One);

body{
    font-family: 'Francois One', sans-serif;
}

#banner{
	font-size: 30px;
}

