/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 3:10:52 PM
    Author     : Manan Singh
*/

html, body{
    
    background-color: antiquewhite;
}

#nav-bar{
    
    background-color: indigo;
    
}

#banner{
    
    background-color: #6600ff;
    color: orange;
}

#banner-img{
    
    background-color: green;
    
}

#content{
    background-color: burlywood;
    
}

#page-links{
    
}

.nav-bar-link{
    
}

.nav-link-box{
    
    background-color: bisque;
}

#bannerDisplay{
    
}

#top-container{
	background-color: #6600ff;
}