/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2015, 10:33:52 PM
    Author     : Manan Singh
*/

.default-style{
    -fx-background-color: #60047a;
}

.title{
    -fx-fill: white;
    -fx-font-family: sans-serif, Verdana;
    -fx-font-size: 20px;
}

.list-cell{
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-text-fill: #60047a;
    -fx-font-family: sans-serif, Verdana;
}

.slide{
    -fx-background-color: rgb(90, 240, 90);
}

.paddedButton{
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.top-toolbar{
    -fx-padding: 10px;
}

.pageEditor{
    -fx-background-color: white;
}

.componentEditView-style{
    -fx-background-color: #9966ff;
}

.button{
    
}
